 .deskstockwidget {
   font-family: Arial, sans-serif;
   display: flex;
   float: right;
   /* flex-wrap: wrap; */
   flex-direction: column;
   /* align-items: end; */
  height: 100vh; 
  position: relative; 
} 

.stock-chart-watchlist,
.community-chat,
.business-info,
.news-section {
    
  color:black;
  width: 100%;
  margin: 1rem 0 0 0;
  padding: 1rem;
  border: 1px solid #ddd;
  background-color: white;
  border-radius: 8px;
  flex: 1;  /* Ensures all items are equal in size */
  min-width: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.watchlist {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
  }

  .watchlist button {
    padding: 0.5rem 1rem;
    border: 1px solid blue;
    background-color: blue;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  .watchlist button:hover {
    background-color: #0056b3;
  }

  .stock-chart, .news-section {
    text-align: center;
  }

  .community-chat.minimized div {
    display: none;
  }

  .community-chat button {
    background-color: blue;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
  }

  .community-chat button:hover {
    background-color: #0056b3;
  }

  .mobilestockwidget{
    display:none;
  }

  .stockwidgelogo{
    position: absolute;
    right: 2%;
    width: 40px; 
    cursor: pointer;
  }


@media (max-width: 900px){
  .stockwidgelogo{
    position: absolute;
    right: 2%;
    width: 40px; 
    cursor: pointer;
 }

.deskstockwidget {
display:none;
 } 


.mobilestockwidget{
  display:flex;

}
.stock-chart-watchlist,
.community-chat,
.business-info,
.news-section {
  display:flex;  
  color:black;
  width: 100%;
  margin: 1rem 0 0 0;
  padding: 1rem;
  border: 1px solid #ddd;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.watchlist{
    display: flex;
    gap: 1rem;

    margin-bottom: 1rem;
    justify-content: center;
  }


  
}