/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.app {
  font-family: Arial, sans-serif;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 100vh; */
  /* position: relative; */
}

.hamburger-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 75px;
  background-color: black;
  color: white;
  padding: 1rem;
  z-index: 10;
}

.menu-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.menu-links {
  list-style: none;
  margin-top: 1rem;
}

.menu-links ul {
  padding: 0;
}

.menu-links ul li a {
  color: white;
  text-decoration: none;
  display: block;
  margin: 0.5rem 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100%;
  max-width: 800px;
  position: relative;
  z-index: 1;
} 

.stock-chart-watchlist,
.community-chat,
.business-info,
.news-section {
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #ddd;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.watchlist {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
}

.watchlist button {
  padding: 0.5rem 1rem;
  border: 1px solid blue;
  background-color: blue;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.watchlist button:hover {
  background-color: #0056b3;
}

.stock-chart {
  text-align: center;
}

.community-chat.minimized div {
  display: none;
}

.community-chat button {
  background-color: blue;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.community-chat button:hover {
  background-color: #0056b3;
}
